# Kredensial LOKAL / PENGEMBANGAN
DB_HOST_LOCAL=127.0.0.1
DB_USER_LOCAL=root
DB_PASS_LOCAL=root
DB_NAME_LOCAL=simpleak36

# Kredensial PRODUKSI
DB_HOST_PROD=localhost
DB_USER_PROD=your_db_user_here
DB_PASS_PROD=your_db_password_here
