<IfModule mod_rewrite.c>
    RewriteEngine On

    # Aturan untuk memaksa koneksi aman (HTTPS), kecuali di localhost
# RewriteCond %{HTTPS} off
# RewriteCond %{HTTP_HOST} !^localhost(:\d+)?$
# RewriteCond %{HTTP_HOST} !^127\.0\.0\.1(:\d+)?$
# RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

    # Redirect everything to the public folder
    RewriteRule ^$ public/index.php [L]
    RewriteRule ^((?!public/).*)$ public/$1 [L]
</IfModule>
